.pdftemplateyes-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pdftemplateyes-pdftemplateyes {
  width: 1017px;
  height: 1600px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pdftemplateyes-rectangle2 {
  top: -5px;
  left: 0px;
  width: 1037px;
  height: 1286px;
  position: absolute;
}
.pdftemplateyes-text {
  top: 172px;
  left: 85px;
  color: rgba(235, 0, 40, 1);
  width: 711px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-text02 {
  top: 1398px;
  color: rgb(235, 0, 40);
  right: -159px;
  width: 858px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-text03 {
  top: 1321px;
  left: 102px;
  color: rgb(235, 0, 40);
  width: 858px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-text04 {
  font-weight: 700;
}
.pdftemplateyes-text06 {
  font-weight: 700;
}
.pdftemplateyes-img14551 {
  top: 56px;
  left: 390px;
  width: 247px;
  height: 84px;
  position: absolute;
}
.pdftemplateyes-rectangle5 {
  top: 858px;
  left: 643px;
  width: 226px;
  height: 188px;
  position: absolute;
}
.pdftemplateyes-rectangle7 {
  top: 1455px;
  left: -14px;
  width: 1037px;
  height: 151px;
  position: absolute;
}
.pdftemplateyes-feedtedxuii27 {
  top: 234px;
  left: 0px;
  width: 1037px;
  height: 1088px;
  position: absolute;
}
.pdftemplateyes-text08 {
  top: 1194px;
  left: 84px;
  color: rgba(255, 255, 255, 1);
  width: 858px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-text12 {
  top: 1145px;
  left: 80px;
  color: rgba(255, 255, 255, 1);
  width: 858px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-text14 {
  top: 918px;
  left: 86px;
  color: rgba(255, 255, 255, 1);
  width: 858px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-text26 {
  top: 856px;
  left: 86px;
  color: rgba(255, 255, 255, 1);
  width: 858px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-text28 {
  top: 311px;
  left: 88px;
  color: rgb(255, 255, 255);
  width: 858px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: italic;
  text-align: justified;
  font-family: "Poppins";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-text29 {
  font-weight: 300;
}
.pdftemplateyes-text31 {
  font-weight: 300;
}
.pdftemplateyes-text38 {
  top: 237px;
  left: 87px;
  color: rgb(255, 255, 255);
  width: 858px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: left;
  font-family: "Poppins";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pdftemplateyes-rectangle71 {
  top: 895px;
  right: 118px;
  width: 205px;
  height: 193px;
  position: absolute;
  border-radius: 24px;
}
@media(max-width: 991px) {
  .pdftemplateyes-pdftemplateyes {
    height: auto;
  }
  .pdftemplateyes-text12 {
    top: 1079px;
    left: 95px;
  }
  .pdftemplateyes-text38 {
    top: 237px;
    left: 87px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: Poppins;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
  }
}
